 body{
    margin: 0;
    padding: 0;
    background: white;
    
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    border: none;
    width: 75%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0 auto;
}
#uptime{
    position: relative;
}
img{
    justify-content: center;
    height: 200px;
    width: 350px;
    position: relative;
    bottom: 30px;
    border-radius: 50%;
    border: none;
}

.container{
    border: none;
    height: 550px;
    width: 50%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 30px black;
    position: relative;
    top: 25px;
}

/* Barre représentative du pourcentage d'utilisation du CPU*/
.cpu_bar {
  width: 400px;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px black;
}

.cpu_progress {
  width: 0%;
  height: 100%;
  background: #02e215;
  transition: width 0.8s ease-in-out;
}

/* Barre représentative du pourcentage d'utilisation de la RAM*/
.ram_bar {
  width: 400px;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px black;
}

.ram_progress {
  width: 0%;
  height: 100%;
  background: #c908af;
  transition: width 0.8s ease-in-out;

}

/* Barre représentative du pourcentage du disque dur*/
.hdd_bar {
  width: 400px;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px black;
}

.hdd_progress {
  width: 0%;
  height: 100%;
  background: #38b1be;
  transition: width 0.8s ease-in-out;
}